
  <style>

    input.b {
      position: absolute;
      right: 500px;
      padding: 3px;
      font-family: Arial, Helvetica, sans-serif;
    }

    input.a {
      position: absolute;
      right: 350px;
      padding: 3px;
      font-family: Arial, Helvetica, sans-serif;
    }


    button.sub {
      position: absolute;
      right: 280px;
      padding: 3px;
      font-family: Arial, Helvetica, sans-serif;
    }

    #center {font-weight: bold;}

    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 90%;


    }

    #customers td, #customers th {
      border: 2px solid #ddd;
      padding: 8px;
      border-radius: 5px

    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: lightblue;}

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #417690;
      color: white;
      font-weight: bold;
      font-size: 18px;
      text-align: center;

    }

    </style>
    <body>
    {% extends 'nav_bar.html' %}
    {% block mycontent %}
    <h2>Usage Efficiency Report</h2>
    <form method="POST">
      {% csrf_token %}
    <center id="center">

    </center>

    <br><br>

    <center>

    <table id="customers">
      <tr>
        <th colspan="1">Tool Information</th>
        <th colspan="3">Turning</th>
        <th colspan="3">Milling</th>
        <th colspan="3">EDM</th>
        <th colspan="3">Wire Cut</th>
      </tr>
      <tr>
        <th></th>
        <th>Planned</th>
        <th>Actual</th>
        <th>Completion Date</th>
        <th>Planned</th>
        <th>Actual</th>
        <th>Completion Date</th>
        <th>Planned</th>
        <th>Actual</th>
        <th>Completion Date</th>
        <th>Planned</th>
        <th>Actual</th>
        <th>Completion Date</th>
      </tr>
      {% for i in d %}
      <tr>
        <td>{{i.tool_info_}}</td>
        <td>{{i.estimated_hours_turning}}</td>
        <td>{{i.num_of_hours_turning}}</td>
        <td>{{i.max_daily_date_turning}}</td>
        <td>{{i.estimated_hours_milling}}</td>
        <td>{{i.num_of_hours_milling}}</td>
        <td>{{i.max_daily_date_milling}}</td>
        <td>{{i.estimated_hours_edm}}</td>
        <td>{{i.num_of_hours_edm}}</td>
        <td>{{i.max_daily_date_edm}}</td>
        <td>{{i.estimated_hours_wire_cut}}</td>
        <td>{{i.num_of_hours_wire_cut}}</td>
        <td>{{i.max_daily_date_wire_cut}}</td>
      </tr>
      {% endfor %}
    </table>

    </center>
    </form>
    </body>
    {% endblock %}
