<link href="styles/styles.css" type="text/css" rel="stylesheet">
<div class="options-div">
	<a class="option-btn" href="totalLoadSystemReport.html" target="bodyFrame">Total load on System Report</a><br>
	<a class="option-btn" href="usageEfficiencyReport.html" target="bodyFrame">Usage Efficiency Report</a><br>
	<a class="option-btn" href="howto_css_modals.asp">Overall Efficiency Report</a><br>
	<a class="option-btn" href="howto_js_animate.asp">Quality Report</a><br>
	<a class="option-btn" href="howto_js_progressbar.asp">Daily Report</a><br>
</div>
